<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon Potin de projet !</h1>

<a href="/gossips/new/">Editer un nouveau potin</a>

<br><a href="/gossips/show/">Lire les anciens potins</a></br>


  </body>
</html>
