<html>
  <head>
    <title>All Gossip</title>
  </head>
  <body>
    <h1>Tous les Potins hihihi</h1>
<% gossips.each do |gossip| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>
      <% end %>

<br><a href="/">Retour</a></br>

  </body>
</html>
